# 1. 환경설정

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')
import time
import pickle
from tqdm import tqdm

In [3]:
import pickle
with open('certificated_stock_dic.pickle','rb') as f:
    certificated_stock_dic = pickle.load(f)

In [4]:
certificated_stock_dic

{'Food': ['097950'],
 'Clothing': [],
 'Chemical': ['090430'],
 'Medicine': [],
 'Non_Metal': ['003410'],
 'Metal': ['010130'],
 'Machine': [],
 'Electronic': [],
 'Construction': ['047040'],
 'Transport': ['028670'],
 'Distribution': ['028260'],
 'Power': [],
 'Tele': ['032640'],
 'Finance': ['006800'],
 'Brokerage': ['005940', '008560'],
 'Insurer': [],
 'Service': [],
 'Manufacturer': ['012330']}

# 2. 일별 종가 데이터 수집 - 10개

In [4]:
def get_stock_price(code, num_of_pages):
    url = f"http://finance.naver.com/item/sise_day.nhn?code={code}" 
    bs = BeautifulSoup(requests.get(url=url, headers = headers).text, 'html.parser')
    pgrr = bs.find("td", class_="pgRR")
    last_page = int(pgrr.a["href"].split('=')[-1])
    pages = min(last_page, num_of_pages) # 마지막 페이지와 가져올 페이지 수 중에 작은 값 선택
    df = pd.DataFrame()

    for page in range(1, pages+1):
        page_url = '{}&page={}'.format(url, page)
        df = df.append(pd.read_html(requests.get(page_url, headers={'User-agent': 'Mozilla/5.0'}).text)[0])
        
    df['일자'] = pd.to_datetime(df['날짜']) 
    df = df.dropna()
    df[['종가',  '시가', '고가', '저가', '거래량']] = df[['종가', '시가', '고가', '저가', '거래량']].astype(int) # int형으로 변경
    df = df[['일자', '거래량','시가', '고가', '저가','종가']] # 컬럼 순서 정렬
    df = df.sort_values(by = '일자') # 날짜순으로 정렬
    df = df.loc[::-1].reset_index(drop=True)
    return df

In [6]:
headers = {'User-agent': 'Mozilla/5.0'}
pages = 1
df_sector_UTD = {}
for sector_name in certificated_stock_dic:
    df_sector_UTD[sector_name] = {}

In [8]:
for sector_name, code_list in certificated_stock_dic.items():
    for stock_code in tqdm(code_list):
        df_sector_UTD[sector_name][stock_code] = get_stock_price(stock_code,pages)
        time.sleep(0.01)

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  3.90it/s]
0it [00:00, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.17it/s]
0it [00:00, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.79it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.46it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.86it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.83it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.78it/s]
0it [00:00, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.85it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.45it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00,  4.78it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.88it/s]

In [9]:
df_sector_UTD

{'Food': {'097950':           일자    거래량      시가      고가      저가      종가
  0 2022-08-05   2722  386500  389000  385500  386500
  1 2022-08-04  24225  388000  389500  383500  384500
  2 2022-08-03  30267  385000  387500  383500  387500
  3 2022-08-02  29317  387000  388000  383000  385500
  4 2022-08-01  37653  391500  392000  383500  387000
  5 2022-07-29  27618  397500  397500  389000  391500
  6 2022-07-28  25944  395500  398000  391000  395000
  7 2022-07-27  16778  396500  400000  394000  395000
  8 2022-07-26  19443  395000  400500  395000  397000
  9 2022-07-25  15932  394500  398000  393500  395000},
 'Clothing': {},
 'Chemical': {'090430':           일자     거래량      시가      고가      저가      종가
  0 2022-08-05   21005  127500  128500  127000  128000
  1 2022-08-04  196672  128000  129000  126500  127500
  2 2022-08-03  228973  126500  129000  126500  127500
  3 2022-08-02  142065  127500  128000  126000  127000
  4 2022-08-01  168532  129000  129000  127500  128000
  5 2022-07-29  527143  128500  129000  125500  129000
  6 2022-07-28  858036  141000  144000  127000  127500
  7 2022-07-27  229211  137500  142500  134000  141500
  8 2022-07-26   75381  137500  139000  136500  137500
  9 2022-07-25   86151  138500  140500  137000  138000},
 'Medicine': {},
 'Non_Metal': {'003410':           일자      거래량    시가    고가    저가    종가
  0 2022-08-05    54209  6900  6900  6840  6860
  1 2022-08-04   969798  6790  7040  6780  6870
  2 2022-08-03   389757  6760  6770  6680  6680
  3 2022-08-02   306582  6770  6800  6680  6750
  4 2022-08-01   335437  6700  6770  6670  6770
  5 2022-07-29   381918  6610  6700  6610  6670
  6 2022-07-28   471634  6730  6750  6580  6600
  7 2022-07-27  1004403  6480  6770  6480  6730
  8 2022-07-26   277248  6430  6490  6380  6480
  9 2022-07-25   199205  6390  6490  6390  6420},
 'Metal': {'010130':           일자    거래량      시가      고가      저가      종가
  0 2022-08-05  30455  490000  505000  490000  504000
  1 2022-08-04  28529  479000  482500  475500  481000
  2 2022-08-03  40180  480500  482500  471000  478000
  3 2022-08-02  27877  480000  483000  475500  479500
  4 2022-08-01  65539  477000  493500  476500  487000
  5 2022-07-29  41110  479500  483500  476000  477500
  6 2022-07-28  29431  469500  474000  467500  472500
  7 2022-07-27  29138  471000  473500  462500  467000
  8 2022-07-26  22854  466000  473000  464500  471500
  9 2022-07-25  34336  462500  469000  461500  468500},
 'Machine': {},
 'Electronic': {},
 'Construction': {'047040':           일자      거래량    시가    고가    저가    종가
  0 2022-08-05   376872  5220  5280  5210  5250
  1 2022-08-04  1551106  5260  5280  5180  5190
  2 2022-08-03  1130371  5180  5250  5170  5210
  3 2022-08-02  1549438  5290  5300  5210  5210
  4 2022-08-01  1862766  5230  5340  5220  5300
  5 2022-07-29  2773233  5190  5250  5150  5250
  6 2022-07-28  6876271  5490  5490  5110  5170
  7 2022-07-27  1237903  5410  5490  5360  5490
  8 2022-07-26  2603317  5350  5640  5310  5400
  9 2022-07-25   674449  5310  5390  5300  5350},
 'Transport': {'028670':           일자      거래량    시가    고가    저가    종가
  0 2022-08-05   208699  5660  5690  5610  5660
  1 2022-08-04  2278714  5590  5690  5510  5670
  2 2022-08-03  2372834  5610  5670  5510  5590
  3 2022-08-02  3334469  5710  5820  5640  5680
  4 2022-08-01  3108627  5660  5810  5590  5660
  5 2022-07-29  1834137  5580  5700  5580  5650
  6 2022-07-28  2437826  5690  5750  5530  5580
  7 2022-07-27  1458948  5680  5700  5550  5620
  8 2022-07-26  2826268  5510  5720  5490  5660
  9 2022-07-25  1059310  5480  5550  5450  5500},
 'Distribution': {'028260':           일자     거래량      시가      고가      저가      종가
  0 2022-08-05   11704  118500  119000  117500  119000
  1 2022-08-04  194256  119500  120000  116500  118500
  2 2022-08-03  168599  118000  120000  118000  118500
  3 2022-08-02  213026  118500  119500  117000  119000
  4 2022-08-01  198618  120500  120500  118000  119000
  5 2022-07-29  285904  120500  122000  119500  120500
  6 2022-07-28  328338  119500  121000  119000  120000
  7 2022-07-27  169403  118500  119000  116000  117500
  8 2022-07-26  134110  117000  118500  116500  118000
  9 2022-07-25  109533  116500  118500  116000  117500},
 'Power': {},
 'Tele': {'032640':           일자      거래량     시가     고가     저가     종가
  0 2022-08-05   129591  12500  12600  12450  12600
  1 2022-08-04   562832  12500  12550  12400  12500
  2 2022-08-03   729806  12500  12600  12400  12550
  3 2022-08-02   435508  12500  12550  12350  12450
  4 2022-08-01   501399  12500  12550  12400  12500
  5 2022-07-29  1006807  12350  12600  12350  12500
  6 2022-07-28   555249  12400  12500  12200  12300
  7 2022-07-27   302780  12400  12400  12250  12400
  8 2022-07-26   440543  12150  12350  12150  12350
  9 2022-07-25   474354  12200  12350  12150  12150},
 'Finance': {'006800':           일자      거래량    시가    고가    저가    종가
  0 2022-08-05   202732  6500  6640  6490  6630
  1 2022-08-04   707302  6500  6550  6460  6500
  2 2022-08-03   600783  6440  6500  6410  6470
  3 2022-08-02   774975  6500  6530  6390  6460
  4 2022-08-01   663502  6550  6590  6480  6540
  5 2022-07-29  1671735  6510  6620  6490  6590
  6 2022-07-28   671659  6530  6600  6430  6460
  7 2022-07-27   610470  6480  6480  6370  6470
  8 2022-07-26   801205  6490  6520  6390  6480
  9 2022-07-25   952372  6500  6630  6460  6500},
 'Brokerage': {'005940':           일자     거래량    시가    고가    저가    종가
  0 2022-08-05   34490  9890  9970  9880  9970
  1 2022-08-04  407094  9850  9910  9800  9900
  2 2022-08-03  304943  9760  9860  9750  9830
  3 2022-08-02  402284  9830  9850  9700  9760
  4 2022-08-01  457275  9920  9920  9820  9850
  5 2022-07-29  994395  9820  9970  9790  9950
  6 2022-07-28  428611  9710  9820  9710  9710
  7 2022-07-27  444713  9560  9720  9520  9690
  8 2022-07-26  366929  9540  9570  9490  9550
  9 2022-07-25  517439  9430  9540  9410  9540,
  '008560':           일자      거래량    시가    고가    저가    종가
  0 2022-08-05    88963  4765  4830  4730  4825
  1 2022-08-04   609805  4765  4810  4705  4735
  2 2022-08-03   540261  4695  4790  4685  4770
  3 2022-08-02   666730  4780  4805  4705  4710
  4 2022-08-01   429895  4760  4880  4760  4805
  5 2022-07-29  1157070  4815  4910  4780  4850
  6 2022-07-28   812540  4680  4810  4675  4740
  7 2022-07-27   882618  4710  4795  4600  4660
  8 2022-07-26   436853  4650  4685  4615  4685
  9 2022-07-25   484804  4560  4695  4560  4650},
 'Insurer': {},
 'Service': {},
 'Manufacturer': {'012330':           일자     거래량      시가      고가      저가      종가
  0 2022-08-05   12694  229000  230000  227500  227500
  1 2022-08-04  201987  231000  231500  227000  229000
  2 2022-08-03  263401  226000  231000  226000  230500
  3 2022-08-02  179051  226000  228000  224000  226000
  4 2022-08-01  174862  226500  229500  224500  227000
  5 2022-07-29  201623  229500  231000  227000  228500
  6 2022-07-28  232775  228000  229500  226000  229000
  7 2022-07-27  189847  225500  228000  225000  227000
  8 2022-07-26  210872  224500  228000  223000  227000
  9 2022-07-25  317480  217000  227000  217000  226000}}

# 이전 data와 최신 data 병합(최신화)

In [10]:
with open('df_sector_UTD.pickle','rb') as f:
    df_sector = pickle.load(f)

In [12]:
for sector_name, df_dict in df_sector_UTD.items():
    for stock_code, df in df_dict.items():
        df = pd.concat([df,df_sector[sector_name][stock_code]],axis=0)
        df=df.drop_duplicates(subset=['일자'])
        df = df.sort_values(by=df.columns[0],ascending=True)
        df = df.reset_index(drop=True)
        df_sector[sector_name][stock_code] = df

In [13]:
df_sector['Food']['097950']

             일자    거래량      시가      고가      저가      종가
0    2010-06-08  50727  211000  213500  209500  211000
1    2010-06-09  52375  212000  218000  210500  214000
2    2010-06-10  61195  214500  219500  213500  219000
3    2010-06-11  89684  217000  220000  211500  214500
4    2010-06-14  41941  216000  220000  215500  219000
...         ...    ...     ...     ...     ...     ...
2998 2022-08-01  37653  391500  392000  383500  387000
2999 2022-08-02  29317  387000  388000  383000  385500
3000 2022-08-03  30267  385000  387500  383500  387500
3001 2022-08-04  24225  388000  389500  383500  384500
3002 2022-08-05   2722  386500  389000  385500  386500

[3003 rows x 6 columns]

In [14]:
with open('df_sector_UTD.pickle','wb') as f:
    pickle.dump(df_sector,f)